<div id="nearest" 
     data-role="view"  
     data-title="Nearest"
     data-transition="slide"
     data-model="app.nearest.viewModel"
     data-show="app.nearest.viewModel.show"
     data-layout="main-layout">
    
    <div class="view-content">
         <ul id="nearest"
             data-role="listview"
             data-bind="source: nearest"
             data-style="inset"
             data-template="photo-template"></ul>
    </div>

    <script type="text/x-kendo-tmpl" id="photo-template">
        <a data-role="listview-link" href="views/photo.html\#photo?title=${Title}&imageUrl=${ImageUrl}&description=${Description}">${Title}</a>
    </script>
</div>